.header {
  background-color: #000000;
  padding: 20px 0 10px 0;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.logo{
  width: 70px;
}

.navButton {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.favoritesLink {
  display: flex;
  align-items: center;
  margin-top: -10px;
}

.searchLink::after {
  content: " Поиск";
  margin: 6px;
}

.searchLink::before {
  content: "🔎︎ ";
}

.favoritesLink::after {
  content: "Избранное";
  margin: 10px;
}

.favoritesLink::before {
  content: "♡";
  font-size: 24px;
}

@media (max-width: 600px) {
  .searchLink::before {
    content: "🔎︎";
  }

  .favoritesLink::after {
    content: "";
  }

  .searchLink::after {
    content: "";
  }

  .favoritesLink::before {
  content: "♡";
  margin-top: 4px;
}

}

.nav a {
  color: #f5f5f5;
}

.searshBlock {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  background: url(./assets/searshbg.png);
}



.gridGallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

@media (min-width: 555px) {
  .gridGallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .gridGallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

.photo-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  aspect-ratio: 1 / 1;
}

.photo-card:hover {
  transform: scale(1.02);
}

.photo-card img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width: 600px) {
  input[type="text"] {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

.photoDetailBackground {
  background: url(./assets/detail-background.png);
}

.photoDetailPverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.285);
  z-index: 2;
  cursor: pointer;
}

.photoDetail {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  z-index: 10;
}

.photoDetail img{
  width: 100%;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.author {
  display: flex;
  align-items: center;
  margin: 20px 0;
  gap: 1rem;
}

.author p{
  display: flex;
  width: 150px;
}

.author img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.buttons {                  
  display: flex;
  gap: 1rem; 
  align-items: center;
  color: aliceblue;
}

.buttons a{
  color: rgb(17, 17, 17);
  background-color: yellow;
  padding: 14px;
  border-radius: 6px;
}

.buttons a{
  color: rgb(17, 17, 17);
  background-color: yellow;
  padding: 14px;
  border-radius: 6px;
}

.downloadButton::after {
  content: "Download";
}

@media (max-width: 600px) {
  .downloadButton::after {
    content: "⬇";
    font-size: 26px;
    padding: 18px;
  }

  .buttons a{
    padding: 6px 0 ;
  }
}

.buttons button{
  color: rgb(37, 37, 37);
  font-size: 40px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 10px;
  height: 55px;
  display: flex;
  align-items: center;
}


.favoritesTitle {
  text-align: center;
}

/*search*/

.searshBlock {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  background: url(./assets/searshbg.png);
}

.searchBar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  
  justify-content: center;
  padding: 60px 0;
  background: url(./assets/searshbg.png);
}


.searchBar input[type="text"] {
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  max-width: 600px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  margin: 0 10px;
  color: #3b3b3b;
}

.searchBar button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  color: #3b3b3b;
  margin-left: -66px
}
